<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.webServer>
        <compilation debug="false" targetFramework="4.0" />
      <handlers>
        <add verb="*" path="*.ashx" type="Handler"/>
      </handlers>
    </system.webServer>

</configuration>
