<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.webServer>
        <compilation debug="true" targetFramework="4.0" />
      <handlers>
        <add verb="GET" path="ImageFromDB.ashx" type="ImageFromDB" />
      </handlers>
    </system.webServer>
  
  <connectionStrings>
    <add name="connection" connectionString="Data Source=localhost\sqlexpress; Integrated Security=SSPI; Initial Catalog=Northwind"/>
  </connectionStrings>

  <appSettings>
    <add key="naynish" value="chaughule"></add>
  </appSettings> 

</configuration>
