<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Service1Soap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:5714/Service1.asmx" binding="basicHttpBinding"
                bindingConfiguration="Service1Soap" contract="ServiceReference1.Service1Soap"
                name="Service1Soap" />
        </client>
    </system.serviceModel>
</configuration>
