<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
        <compilation debug="false" targetFramework="4.0" />
      <caching>
        <outputCacheSettings>
          <outputCacheProfiles>
            <add name="myCacheProfile" duration="60" />
          </outputCacheProfiles>
        </outputCacheSettings>
        <cache disableMemoryCollection="true" disableExpiration="true"
               percentagePhysicalMemoryUsedLimit="90" privateBytesLimit="0"
               privateBytesPollTime="00:02:00" />
        
        <outputCache defaultProvider="FileCache">
          <providers>
            <add name="FileCache" type="FileCacheProvider" cachePath="~/CachedPages" />
          </providers>
        </outputCache>
        
      </caching>
    </system.web>
  <appSettings>
    <add key="cachePath" value="G:\naynish\Pro ASP.NET 4 in C# 2010\Caching\CachedPages"/>
  </appSettings>

</configuration>
