<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="OrderService" type="OrderService"/>
  </configSections>
  
  <OrderService location="Hello"></OrderService>
  
  <connectionStrings>
    <add name="NorthwindConnection" connectionString="Data Source=localhost;Integrated Security=SSPI;Initial Catalog=Northwind;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="name" value="naynish" />
    <add key="topic" value="java" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>    
  </system.web>
  <location path="~/Secure" allowOverride="false"/>
</configuration>