<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <configSections>
    <section name="Employee" type="Employee" />
  </configSections>

  <Employee configProtectionProvider="DataProtectionConfigurationProvider">
    <EncryptedData>
      <CipherData>
        <CipherValue>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAEYmZqCRwj0eFj2izYLwCtAQAAAACAAAAAAAQZgAAAAEAACAAAAAW/Qt0houFMP09VpEP5uMD1Z4FrbRDsAcHKUjW8apXWgAAAAAOgAAAAAIAACAAAACa7xp2KvMiSUQIddQrcWfq7lcdilFk2/2FX50SuNO83TAAAAA3+3T33A/FyQdYRMAn5PIgSQJzPrgiqfcpjHtq/2FZOwXXLBK23mHo5E8ImMkJ/0BAAAAAUINvAlJPRiW6uYDAD1ix1BVAYYLNjHLsWsnKoeS6En2taICn8Gbi7tdiA2Lid/eBlPH//fKlBzg/2kW243EiSA==</CipherValue>
      </CipherData>
    </EncryptedData>
  </Employee>
  
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
