<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--asp.net features settings-->
  <appSettings/>
  <connectionStrings/>
  <!--extend asp.net pipeline with HTTP handlers and modules-->
  <system.webServer/>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
  </system.web>
  <!--applies to sub-directory "Secure"-->
  <location path="~/Secure">
    <system.web/>
  </location>
  <!--cannot override these settings in the sub-directories-->
  <location allowOverride="false">
    <system.web/>
  </location>
</configuration>