<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpHandlers>
      <add verb="*" path="*.png" type="ImageProtectionSoftware"/>
      <add verb="*" path="*.gif" type="ImageProtectionSoftware"/>
      <add verb="*" path="*.jpg" type="ImageProtectionSoftware"/>
      <add verb="*" path="*.jpeg" type="ImageProtectionSoftware"/>
      <add verb="*" path="*.jpe" type="ImageProtectionSoftware"/>
      <add verb="*" path="*.jfif" type="ImageProtectionSoftware"/>
      <add verb="*" path="*.bmp" type="ImageProtectionSoftware"/>
      <add verb="*" path="*.dib" type="ImageProtectionSoftware"/>
    </httpHandlers>
  </system.web>
</configuration>

