<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <pages maxPageStateFieldLength="1024" controlRenderingCompatibilityVersion="4.0" clientIDMode="Predictable"/>
    <compilation debug="true" targetFramework="4.0"/>
    <httpModules>
      <add name="DevInfo" type="nStuff.WebDevHelper.Server.DevInfoModule,         nStuff.WebDevHelper.Server, Version=0.5.0.0, Culture=neutral,         PublicKeyToken=8fc0e3af5abcb6c4"/>
    </httpModules>
  </system.web>
</configuration>