<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.0">
        <expressionBuilders>
          <add expressionPrefix="RandomNumber" type="RandomNumberExpressionBuilder"/>
        </expressionBuilders>
      </compilation>
    </system.web>
  <appSettings>
    <add key="employeeName" value="naynish p. chaughule"/>
  </appSettings>
  <connectionStrings>
    <add name="nashNorthwind" connectionString="Data Source=localhost\sqlexpress; Initial Catalog=Northwind; Integrated Security=SSPI;"/>
  </connectionStrings>  

</configuration>
