<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <section name="employee" type="Employee" />
  </configSections>

  <employee configProtectionProvider="DataProtectionConfigurationProvider">
    <EncryptedData>
      <CipherData>
        <CipherValue>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAEYmZqCRwj0eFj2izYLwCtAQAAAACAAAAAAAQZgAAAAEAACAAAADuOyt7O78RqZFExpAJ6SQHMOEAkf7C8tBueUpSa53PMgAAAAAOgAAAAAIAACAAAADjqo5gqHEItMwd1S0SfIquy5kp4X5a2NjWqg8W/cfThcAAAADUAslcw8bnZ9lTwZfef7hvc2BhI59af+p0eTZ2xJ6t//JNpv8PKResBwkGrRkEHl0R9BcQl4Tc1Rl6pbJt+/hMS0P7jpl9stU0Hnf4+SwZp92bETwIR6CGlfeIL048tpUqk3MRrXsMyxN7z8DT275aoiV/rFg0GtTc/OKy4YwNOhvD4kr0SPsK14fylwtlybJ/8y+EyhuQtp2lRLYKJF9zkxq2ClUWofIWkY509ZkfMnoO4nAWn8DEQAglfQ1zziNAAAAAJ/fHggwKOaXM92X1OEPZCy1fZ57rjZlUF9U+VCTgILDZEwQvQPRgXGnvBI6EvTOtO90dXd4T6Sndn2mwZ6V/kQ==</CipherValue>
      </CipherData>
    </EncryptedData>
  </employee>
  
    <system.web>
        <compilation debug="false" targetFramework="4.0" />
    </system.web>

  <appSettings>
    <add key="name" value="george washington university" />
  </appSettings>

</configuration>
