<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="false" targetFramework="4.0" />
    <httpHandlers>
      <add verb="*" path="*.test" type="Company.Employee, Company"/>
    </httpHandlers>
  </system.web>  
</configuration>




