<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  
  <connectionStrings>
    <add name="Northwind" connectionString="Provider=SQLNCLI; Data Source=localhost\sqlexpress; Initial Catalog=Northwind; Integrated Security=SSPI"/>    
  </connectionStrings>
  
  <appSettings>
    <add key="factory" value="System.Data.OleDb" />
    <add key="sampleQuery" value="SELECT * FROM SampleAccount" />
  </appSettings> 
  
</configuration>
